google_search_results==2.4.2
langdetect==1.0.9
newspaper3k==0.2.8
lxml_html_clean==0.4.5
numpy==2.5.3
openai==3.19.2
pandas==3.0.6
pdfminer_six==20260107
python-dotenv==1.2.3
Requests==2.34.2
scikit_learn==1.9.1
scipy==1.18.1
sentence_transformers==5.6.0
spacy==3.8.13
tiktoken==0.13.0
openpyxl==3.1.5
XlsxWriter==3.2.9
en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl